.header-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    color: var(--white);
    height: var(--header-height);
    background-color: var(--transparent-bg);
    position: fixed;
    width: 100%;
    top: 0;
    padding: 0 20px;
    z-index: 1;
  }
  
  .header-light {
    background-color: var(--light-bg);
  }
  
  .logo {
    color: var(--red);
    font-size: 2rem;
    font-weight: bold;
  }
  
  .search-container {
    width: 40%;
    position: relative;
  }
  
  .search-input {
    border: none;
    padding: 8px;
    border-radius: 8px;
    width: 100%;
    background-color: black;
    color: var(--grey-text);
  }
  
  .input-active {
    border-radius: 0;
  }
  
  .search-results-container {
    background-color: gray;
    position: absolute;
    top: 30px;
    left: 0;
    width: 100%;
    max-height: 500px;
    overflow-y: auto;
    animation: fadeIn 0.5s ease-in-out;
  }
  
  .search-results-item {
    background-color: var(--dark-bg);
    color: var(--white);
    height: 80px;
    margin-bottom: 2px;
    display: flex;
    align-items: center;
    padding: 0 10px;
    cursor: pointer;
  }
  
  .search-results-item:hover {
    border: solid 1px gray;
  }
  
  .theme-buttons {
    display: flex;
    align-items: center;
  }
  
  .theme-icon {
    font-size: 36px;
    border-radius: 50%;
    cursor: pointer;
    padding: 5px;
  }
  
  @keyframes fadeIn {
    from {
      opacity: 0;
      transform: translateY(-10px);
    }
    to {
      opacity: 1;
      transform: translateY(0);
    }
  }
  
  @media (max-width: 600px) {
    .header-container {
      flex-direction: column;
      height: var(--header-height-mobile);
      padding: 10px 0;
    }
  }
  
  @media (max-width: 468px) {
    .logo {
      font-size: 1.5rem;
    }
    .search-container {
      width: 60%;
    }
    .search-results-item {
      font-size: 0.75rem;
    }
  }
  