@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');
*{
  margin:0;
  padding:0;
  box-sizing: border-box;
  font-family: 'Bebas Neue', sans-serif;
}

:root{
  --red: #e50916;
  --white:#fff; 
  --black:#000; 
  --header-height:70px;
  --header-height-mobile:150px;
  --dark-bg:#000000;
  --light-bg:rgb(246, 233, 233); 
  --footer-bg:#010101;
  --transparent-bg:rgba(20, 20, 20, 0.7);
  --grey:#2D2D2D;
  --grey-text:#9B9B9B;
}
a{ 
  text-decoration: none;
}
body{
  background-color: var(--dark-bg);
}