.slider {
  background-size: cover;
  background-position: top;
  background-repeat: no-repeat;
  height: 60vh;
  position: relative;
}

.slider-overlay {
  background: linear-gradient(90deg, rgba(0,0,0,1) 0%, rgba(255,255,255,0) 100%);
  position: absolute;
  height: 100%;
  width: 100%;
}

.right-arrow, .left-arrow {
  color: var(--red);
  font-size: 4rem;
  cursor: pointer;
  position: absolute;
  top: 45%;
}

.right-arrow { right: 0; }
.left-arrow { left: 0; }

.slider-info {
  position: absolute;
  bottom: 0;
  width: 70%;
  color: var(--white);
  padding: 50px;
  display: flex;
  flex-direction: column;
}

.slider-info h1 {
  font-size: 2rem;
}

.slider-info p {
  font-size: 1rem;
}

.see-more-btn:hover {
  color: var(--red);
  cursor: pointer;
}

@media (max-width: 768px) {
  .slider-info { width: 80%; }
}

@media (max-width: 468px) {
  .slider-info { width: 90%; }
  .slider-description { display: none; }
}
